/* color theme */

:root
  --overlay_back_color alpha(#000, 0.7)
  --modal_back_color #fff
  --modal_border_color #000
  --popup_border_shadow_color rgb(0 0 0 / 20%)
  --popup_li_back_color #fafafa
  --status_success_color #37be5f
  --status_error_color #dc362e
